//  ----------------------------------------------------------------------------
//
//  Nitro UI: Utility Float
//
//  Utility Float component for Nitro UI.
//
//  ----------------------------------------------------------------------------
//
//  CONTENTS
//
//      1. Variables
//      2. Core
//      3. Responsive - Portable
//      4. Responsive - Tablet
//      5. Responsive - Mobile
//
//  ----------------------------------------------------------------------------
//  1. Variables
//  ----------------------------------------------------------------------------
@import '@nitro-ui/css-core/src/core';

$responsive-text-portable   : true !default;
$use-u-text--tablet         : false !default;
$use-u-text--mobile         : true !default;

//  ----------------------------------------------------------------------------
//  2. Core
//  ----------------------------------------------------------------------------

.u-text-truncate        { @include text-truncate(100%) }
.u-text-strike          { text-decoration: line-through; }
.u-text-clamp           { overflow: hidden; word-break: break-word; }
.u-text-unstyled        { text-decoration: none !important; }


.u-icon-text {
    align-items: center;
    display: flex !important;
    justify-content: center;

    > .icon:first-child {
        margin-right: $spacing-xs;
    }

    > .icon:last-child {
        margin-left: $spacing-xs;
    }
}


@mixin float-setup($breakpoint: 'global') {

    $breakpoint-separator: \@ !default;

    @if $breakpoint == 'global' {
        $breakpoint-separator: '';
        $breakpoint: '';
    }

    .u-float-right#{$breakpoint-separator}#{$breakpoint}     { float: right !important }
    .u-float-left#{$breakpoint-separator}#{$breakpoint}      { float: left  !important }
    .u-float-none#{$breakpoint-separator}#{$breakpoint}      { float: none  !important }
}


@include float-setup();

//  ----------------------------------------------------------------------------
//  Responsive - Mobile
//  ----------------------------------------------------------------------------

@if $responsive {
    @include media-query(mobile) {
        @include float-setup('mobile');
    }
}



/**
 * Font sizes
 */

@mixin text-size-setup($breakpoint: 'global') {

    $breakpoint-separator: \@ !default;


    @if $breakpoint == 'global' {
        $breakpoint-separator: '';
        $breakpoint: '';
    }


    .u-text-1#{$breakpoint-separator}#{$breakpoint} {
        font-size: $font-1-size;
        line-height: $font-1-height;
    }

    .u-text-2#{$breakpoint-separator}#{$breakpoint} {
        font-size: $font-2-size;
        line-height: $font-2-height;
    }

    .u-text-3#{$breakpoint-separator}#{$breakpoint} {
        font-size: $font-3-size;
        line-height: $font-3-height;
    }

    .u-text-4#{$breakpoint-separator}#{$breakpoint} {
        font-size: $font-4-size;
        line-height: $font-4-height;
    }

    .u-text-5#{$breakpoint-separator}#{$breakpoint} {
        font-size: $font-5-size;
        line-height: $font-5-height;

        &.u-text-clamp {
            max-height: $font-5-height*2;
        }
    }

    .u-text-6#{$breakpoint-separator}#{$breakpoint} {
        font-size: $font-6-size;
        line-height: $font-6-height;

        &.u-text-clamp {
            max-height: $font-6-height*2;
        }
    }

    .u-text-7#{$breakpoint-separator}#{$breakpoint} {
        font-size: $font-7-size;
        line-height: $font-7-height;

        &.u-text-clamp {
            max-height: $font-7-height*2;
        }
    }

    .u-text-8#{$breakpoint-separator}#{$breakpoint} {
        font-size: $font-8-size;
        line-height: $font-8-height;
    }

    .u-text-uppercase#{$breakpoint-separator}#{$breakpoint} {
        text-transform: uppercase !important;
    }

    .u-text-lowercase#{$breakpoint-separator}#{$breakpoint} {
        text-transform: lowercase !important;
    }
}


@include text-size-setup();


//  ----------------------------------------------------------------------------
//  3. Responsive - Portable
//  ----------------------------------------------------------------------------
@if $responsive{
    @if $responsive-text-portable {
        @include media-query(portable) {
            @include text-size-setup('portable');
        }
    }


//  ----------------------------------------------------------------------------
//  4. Responsive - Tablet
//  ----------------------------------------------------------------------------

// we plan to use $responsive-text-tablet please change the variable name on next update.
//currently $use-u-text--tablet using at Autospinn, SPC, iCarSuite project
//Please update accordingly
    @if $use-u-text--tablet {
        @include media-query(tablet) {
            @include text-size-setup('tablet');
        }
    }

//  ----------------------------------------------------------------------------
//  5. Responsive - Mobile
//  ----------------------------------------------------------------------------
    @if $use-u-text--mobile {
        @include media-query(mobile) {
            @include text-size-setup('mobile');
        }
    }
}
