//  ----------------------------------------------------------------------------
//
//  Nitro UI: Object grid
//
//  Object grid component for Nitro UI.
//
//  ----------------------------------------------------------------------------
//
//  CONTENTS
//
//      1. Core
//      2. Responsive - Mobile

@import '@nitro-ui/core/src/core';
//  ----------------------------------------------------------------------------
//  1. Core
//  ----------------------------------------------------------------------------
.o-grid {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0 (-$spacing-md/2);
    word-break: break-word;
}

.o-grid__item {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 $spacing-md/2;
}


.o-grid--reversed {
    flex-direction: row-reverse;
}


@mixin grid-setup($size, $breakpoint: 'global') {

    $spacing: '';
    $breakpoint-separator: \@ !default;


    @if $breakpoint == 'global' {
        $breakpoint-separator: '';
        $breakpoint: '';
    }

    @if $size == 'lg' {
        $spacing: $spacing-lg;
    }

    @if $size == 'md' {
        $spacing: $spacing-md;
    }

    @if $size == 'sm' {
        $spacing: $spacing-xs;
    }

    @if $size == 'none' {
        $spacing: 0;
    }

    .o-grid--#{$size}#{$breakpoint-separator}#{$breakpoint} {
        margin: 0 (-$spacing/2);

        > .o-grid__item {
            padding: 0 $spacing/2;
        }
    }
}

//  ----------------------------------------------------------------------------
//  2. Responsive - Mobile
//  ----------------------------------------------------------------------------

@include grid-setup('lg');
@include grid-setup('md');
@include grid-setup('sm');
@include grid-setup('none');


@if $responsive {
    @include media-query('mobile') {
        @include grid-setup('lg','mobile');
        @include grid-setup('md','mobile');
        @include grid-setup('sm','mobile');
        @include grid-setup('none','mobile');
    }
}
