//  ----------------------------------------------------------------------------
//
//  @BUTTON
//
//  Component styling for button
//
//  ----------------------------------------------------------------------------
//
//  CONTENTS
//
//      1.  DEPENDENCIES
//      2.  VARIABLES
//      3.  CORE
//
//  ----------------------------------------------------------------------------


//  1. DEPENDENCIES
//  ----------------------------------------------------------------------------

@import '@nitro-ui/core/src/variables';



//  2. VARIABLES
//  ----------------------------------------------------------------------------
$alert-positive-font-color  : $font-positive-color;
$alert-positive-background  : $green-100;


$alert-negative-font-color  : $font-negative-color;
$alert-negative-background  : $red-100;


$alert-warning-font-color   : $font-warning-color;
$alert-warning-background   : $orange-100;


$alert-info-font-color      : $font-info-color;
$alert-tips-background      : $purple-100;


$alert-tips-font-color      : $font-tips-color;
$alert-info-background      : $blue-100;


//  3. CORE
//  ----------------------------------------------------------------------------

.c-alert {
    background-color: $haze-200;
    border-color: $haze-400;
    border-radius: $base-radius;
    display: flex;
    padding: $spacing-sm $spacing-md;

    &.fade {
        opacity: 0;
        transition: opacity .15s linear;

        &.in {
            opacity: 1;
        }
    }
}

.c-alert__left {
    margin-right: $spacing-sm;
}

.c-alert__body {
    flex: 1 1 auto;

    :last-child {
        margin-bottom: 0;
    }
}

.c-alert__close {
    opacity: .5;
    margin: 2px 0 0 $spacing-sm;
}


@mixin alert-setup($theme, $background, $color) {
    .c-alert--#{$theme} {
        background-color: $background;
        color: $color;

        a {
            color: inherit;
            font-weight: $font-weight-medium;
            text-decoration: underline;
        }
    }
}


@include alert-setup('info', $alert-info-background, $alert-info-font-color);
@include alert-setup('tips', $alert-tips-background, $alert-tips-font-color);
@include alert-setup('success', $alert-positive-background, $alert-positive-font-color);
@include alert-setup('error', $alert-negative-background, $alert-negative-font-color);
@include alert-setup('warning', $alert-warning-background, $alert-warning-font-color);
