$dropdown-width                 : 220px;
$dropdown-hover-background      : $blue-100;
$dropdown-hover-font-color      : $font-link-color;
$dropdown-active-background     : $haze-200;
$dropdown-active-font-color     : $font-base-color;
