//  ----------------------------------------------------------------------------
//
//  @OBJECT - List
//
//  Object styling for item listing
//
//  ----------------------------------------------------------------------------
//
//  CONTENTS
//
//      1.  Dependencies
//      2.  Variables
//      3.  Core
//      4.  Size
//
//  ----------------------------------------------------------------------------


//  1. Dependencies
//  ----------------------------------------------------------------------------

@import '../node_modules/@nitro-ui/css-core/src/variables';
@import '../node_modules/@nitro-ui/css-core/src/mixins';


//  2. Variables
//  ----------------------------------------------------------------------------

$list-divider-color     : $haze-200;


//  3. Core
//  ----------------------------------------------------------------------------

.o-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.o-list--divider {
    > .o-list__item:not(:first-child) {
        border-top: 1px solid $list-divider-color;
    }
}


//  4. Size
//  ----------------------------------------------------------------------------

@mixin list-setup($size) {

    $spacing: '';

    @if $size == 'xl' {
        $spacing: $spacing-xl;
    }

    @if $size == 'lg' {
        $spacing: $spacing-lg;
    }

    @if $size == 'md' {
        $spacing: $spacing-md;
    }

    @if $size == 'sm' {
        $spacing: $spacing-sm;
    }

    @if $size == 'xs' {
        $spacing: $spacing-xs;
    }

    .o-list--#{$size} {
        > .o-list__item:not(:first-child) {
            margin-top: $spacing;
        }

        &.o-list--divider > .o-list__item:not(:first-child) {
            padding-top: $spacing;
        }
    }
}

@include list-setup('lg');
@include list-setup('md');
@include list-setup('sm');
@include list-setup('xs');
