//  ----------------------------------------------------------------------------
//
//  Nitro UI: Utility loader
//
//  Utility loader component for Nitro UI.
//
//  ----------------------------------------------------------------------------
//
//  CONTENTS
//
//      1. Variables
//      2. Core

//  ----------------------------------------------------------------------------
//  1. Variables
//  ----------------------------------------------------------------------------
@import '@nitro-ui/core/src/mixins';
@import '@nitro-ui/core/src/variables';

//  ----------------------------------------------------------------------------
//  2. Core
//  ----------------------------------------------------------------------------
@keyframes loading {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}


.loader,
.is--loading {
    color: transparent !important;
}


.loader::before,
.is--loading::before {
    @include loader-setup();
    border-width: 2px;
    border-style: dotted;
    border-radius: 100%;
    display: inline-block;
    content: '';
    height: 16px;
    width: 16px;
    vertical-align: top;
    animation: loading 1.2s infinite linear;

    position: absolute;
    left: 50%;
    top: 50%;
    margin: -8px;
}
