//  ----------------------------------------------------------------------------
//
//  @VARIABLES
//
//  Collections of dependable default variables
//
//  ----------------------------------------------------------------------------
//
//  CONTENTS
//
//      1.  Colors
//      2.  Font Weight
//      3.  Font Size / Height
//      4.  Font Colors
//      5.  Font Setup
//      6.  Spacing
//      7.  Base
//  ----------------------------------------------------------------------------


//  1. Colors
//  ----------------------------------------------------------------------------

$white                  : #FFFFFF !default;
$blue-light-100         : #E7F9FF !default;
$blue-light-200         : #C9EFFF !default;
$blue-light-300         : #8FDEFE !default;
$blue-light-400         : #41C7FD !default;
$blue-light-500         : #02AAEE !default;
$blue-light-600         : #0280B4 !default;
$blue-light-700         : #015779 !default;
$blue-100               : #E2F0FF !default;
$blue-200               : #A4CCFF !default;
$blue-300               : #55A0FE !default;
$blue-400               : #0774FE !default;
$blue-500               : #0162DD !default;
$blue-600               : #0148A2 !default;
$blue-700               : #01377B !default;
$dark-100               : #687D94 !default;
$dark-200               : #576A7F !default;
$dark-300               : #465668 !default;
$dark-400               : #344251 !default;
$dark-500               : #242E39 !default;
$dark-600               : #151B22 !default;
$dark-700               : #06080A !default;
$green-100              : #DEF9E2 !default;
$green-200              : #ADEFB5 !default;
$green-300              : #6BE27A !default;
$green-400              : #3AD94E !default;
$green-500              : #26C53A !default;
$green-600              : #1D942B !default;
$green-700              : #13631D !default;
$haze-100               : #F7F8FA !default;
$haze-200               : #ECEEF3 !default;
$haze-300               : #CFD6DF !default;
$haze-400               : #B8C2CE !default;
$haze-500               : #A1AEBE !default;
$haze-600               : #8A9BAD !default;
$haze-700               : #73879B !default;
$orange-100             : #FFF0DB !default;
$orange-200             : #FFD7A0 !default;
$orange-300             : #FEB752 !default;
$orange-400             : #FE9604 !default;
$orange-500             : #FE8104 !default;
$orange-600             : #FE6C04 !default;
$orange-700             : #E35805 !default;
$pink-100               : #FDF3FE !default;
$pink-200               : #F4AAF8 !default;
$pink-300               : #EA62F1 !default;
$pink-400               : #E01AEB !default;
$pink-500               : #D413DE !default;
$pink-600               : #A00FA8 !default;
$pink-700               : #6D0A72 !default;
$purple-100             : #F2E7FF !default;
$purple-200             : #CFA1FE !default;
$purple-300             : #A853FE !default;
$purple-400             : #8105FE !default;
$purple-500             : #6D01DA !default;
$purple-600             : #5001A0 !default;
$purple-700             : #3C0179 !default;
$red-100                : #FFEEEE !default;
$red-200                : #FFB3B3 !default;
$red-300                : #FF5151 !default;
$red-400                : #FA0204 !default;
$red-500                : #DA0000 !default;
$red-600                : #B30000 !default;
$red-700                : #8C0000 !default;
$yellow-100             : #FFF8D2 !default;
$yellow-200             : #FFF19D !default;
$yellow-300             : #FFE862 !default;
$yellow-400             : #FFDA00 !default;
$yellow-500             : #FFC500 !default;
$yellow-600             : #F5A500 !default;
$yellow-700             : #ED9402 !default;


//  2. Font Weight
//  ----------------------------------------------------------------------------

$font-weight-light      : 300 !default;
$font-weight-normal     : 400 !default;
$font-weight-medium     : 500 !default;
$font-weight-bold       : 700 !default;


//  3. Font Size / Height
//  ----------------------------------------------------------------------------

$font-1-size            : 40px !default;
$font-1-height          : 48px !default;
$font-2-size            : 32px !default;
$font-2-height          : 40px !default;
$font-3-size            : 24px !default;
$font-3-height          : 32px !default;
$font-4-size            : 18px !default;
$font-4-height          : 24px !default;
$font-5-size            : 16px !default;
$font-5-height          : 20px !default;
$font-6-size            : 14px !default;
$font-6-height          : 20px !default;
$font-7-size            : 12px !default;
$font-7-height          : 18px !default;
$font-8-size            : 10px !default;
$font-8-height          : 16px !default;


//  4. Font Colors
//  ----------------------------------------------------------------------------

$font-muted-color       : $haze-600 !default;
$font-base-color        : $dark-200 !default;
$font-dark-color        : $dark-400 !default;

$font-link-color        : $blue-500 !default;

$font-positive-color    : $green-600 !default;
$font-negative-color    : $red-500 !default;

$font-warning-color     : $orange-600 !default;
$font-tips-color        : $purple-500 !default;
$font-info-color        : $blue-500 !default;


//  5. Font Setup
//  ----------------------------------------------------------------------------

$font-base-family       : "Roboto", Arial, sans-serif !default;
$font-base-height       : $font-6-height !default;
$font-base-size         : $font-6-size !default;
$font-base-weight       : $font-weight-normal !default;

$font-heading-family    : $font-base-family !default;
$font-heading-color     : $font-dark-color !default;
$font-heading-weight    : $font-weight-medium !default;

$font-mono-family       : SFMono-Regular, Menlo, Monaco, Consolas, monospace !default;


//  6. Spacing
//  ----------------------------------------------------------------------------

$spacing-xxl            : 64px !default;
$spacing-xl             : 48px !default;
$spacing-lg             : 24px !default;
$spacing-md             : 16px !default;
$spacing-sm             : 12px !default;
$spacing-xs             : 8px  !default;
$spacing-xxs            : 4px  !default;


//  8. Baseline
//  ----------------------------------------------------------------------------

$base-background        : $haze-200 !default;
$base-link-underline    : false !default;
$base-radius            : 4px !default;
$base-radius-sm         : ($base-radius - 1) !default;
$base-ui-color          : $haze-300 !default;
$responsive             : true !default;
