//  ----------------------------------------------------------------------------
//
//  Nitro UI: Utility Position
//
//  Utility Position component for Nitro UI.

//  CONTENTS
//
//      1. Variables
//      2. Import
//      3. Positions
//      4. Pin
//      5. Z-index
//      6. Usage
//
//  ----------------------------------------------------------------------------
//  1. Variables
//  ----------------------------------------------------------------------------

$use-utility-position               : true !default;
$responsive-position-mobile         : false !default;


//  ----------------------------------------------------------------------------
//  2. Import
//  ----------------------------------------------------------------------------

@import '../../../core/src/variables';
@import '../../../core/src/mixins';


//  ----------------------------------------------------------------------------
//  3. Positions
//  ----------------------------------------------------------------------------

@mixin positions-setup($breakpoint: 'global') {
    $breakpoint-separator: \@ !default;

    @if $breakpoint == 'global' {
        $breakpoint-separator: '';
        $breakpoint: '';
    }
    .u-relative#{$breakpoint-separator}#{$breakpoint}       { position: relative !important; }
    .u-absolute#{$breakpoint-separator}#{$breakpoint}       { position: absolute !important; }
    .u-fixed#{$breakpoint-separator}#{$breakpoint}          { position: fixed !important;    }
    .u-static#{$breakpoint-separator}#{$breakpoint}         { position: static !important;   }
}

//  ----------------------------------------------------------------------------
//  4. Pin
//  ----------------------------------------------------------------------------

@mixin pin-setup($breakpoint: 'global') {
    $breakpoint-separator: \@ !default;

    @if $breakpoint == 'global' {
        $breakpoint-separator: '';
        $breakpoint: '';
    }

    .u-top-right#{$breakpoint-separator}#{$breakpoint}        { top: 0; right: 0; }
    .u-top-left#{$breakpoint-separator}#{$breakpoint}         { top: 0; left:  0; }
    .u-bottom-right#{$breakpoint-separator}#{$breakpoint}     { bottom: 0; right: 0; }
    .u-bottom-left#{$breakpoint-separator}#{$breakpoint}      { bottom: 0; left:  0; }

}

//  ----------------------------------------------------------------------------
//  5. Z-index
//  ----------------------------------------------------------------------------

@mixin zindex-setup($breakpoint: 'global') {
    $breakpoint-separator: \@ !default;

    @if $breakpoint == 'global' {
        $breakpoint-separator: '';
        $breakpoint: '';
    }
    .u-zindex-0#{$breakpoint-separator}#{$breakpoint}        { z-index: 0; }
    .u-zindex-1#{$breakpoint-separator}#{$breakpoint}        { z-index: 1; }
    .u-zindex-2#{$breakpoint-separator}#{$breakpoint}        { z-index: 2; }
    .u-zindex-3#{$breakpoint-separator}#{$breakpoint}        { z-index: 3; }
    .u-zindex-4#{$breakpoint-separator}#{$breakpoint}        { z-index: 4; }
    .u-zindex-5#{$breakpoint-separator}#{$breakpoint}        { z-index: 5; }
    .u-zindex-auto#{$breakpoint-separator}#{$breakpoint}     { z-index: auto; }

}



//  ----------------------------------------------------------------------------
//  6. Usage
//  ----------------------------------------------------------------------------

@if $use-utility-position {

    @include positions-setup();
    @include pin-setup();
    @include zindex-setup();

    @if $responsive {
        @if $responsive-position-mobile {
            @include media-query(mobile) {
                @include positions-setup('mobile');
                @include pin-setup('mobile');
                @include zindex-setup('mobile');
            }
        }
    }
}
