//  ----------------------------------------------------------------------------
//
//  Nitro UI: Utility Opacity
//
//  Utility styling for opacities
//
//  ----------------------------------------------------------------------------

.u-opacity-1 { opacity: .2; }
.u-opacity-2 { opacity: .4; }
.u-opacity-3 { opacity: .6; }
.u-opacity-4 { opacity: .8; }
