//  ----------------------------------------------------------------------------
//
//  Nitro UI: Utility divider
//
//  Utility divider component for Nitro UI.
//
//  ----------------------------------------------------------------------------
//
//  CONTENTS
//
//      1. Variables
//      2. Core

//  ----------------------------------------------------------------------------
//  1. Variables
//  ----------------------------------------------------------------------------
@import '@nitro-ui/css-core/src/core';

$base-divider                   : $haze-200 !default
$base-divider-dark              : $haze-300 !default

//  ----------------------------------------------------------------------------
//  2. Core
//  ----------------------------------------------------------------------------
.u-divider {
    color: $base-divider;
    clear: both;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin:0;
}


.u-divider--darker {
    color: $base-divider-dark;
}
