//  ----------------------------------------------------------------------------
//
//  @UTILITY - Rounded
//
//  Utility styling for rounded corners
//
//  ----------------------------------------------------------------------------
//
//  CONTENTS
//
//      1.  Dependencies
//      2.  Setup
//
//  ----------------------------------------------------------------------------


//  1. Dependencies
//  ----------------------------------------------------------------------------

@import '../node_modules/@nitro-ui/css-core/src/variables';
@import '../node_modules/@nitro-ui/css-core/src/mixins';

@mixin shadow-none {
    box-shadow: none;
}

@mixin shadow-1dp {
    box-shadow: 0 0 0 1px rgba($dark-700, .05),
                0 2px 4px rgba($dark-700, .05);
}

@mixin shadow-2dp {
    box-shadow: 0 0 0 1px rgba($dark-700, .05),
                0 2px 4px rgba($dark-700, .05),
                0 4px 8px rgba($dark-700, .05);
}

@mixin shadow-3dp {
    box-shadow: 0 0 0 1px   rgba($dark-700, .05),
                0 2px 4px   rgba($dark-700, .05),
                0 4px 8px   rgba($dark-700, .05),
                0 8px 16px  rgba($dark-700, .05),
                0 12px 24px rgba($dark-700, .05);
}

@mixin shadow-4dp {
    box-shadow: 0 0 0 1px   rgba($dark-700, .05),
                0 2px 4px   rgba($dark-700, .05),
                0 4px 8px   rgba($dark-700, .05),
                0 8px 16px  rgba($dark-700, .05),
                0 12px 24px rgba($dark-700, .05),
                0 16px 32px rgba($dark-700, .05),
                0 20px 40px rgba($dark-700, .05);
}


//  2. Setup
//  ----------------------------------------------------------------------------

.u-shadow-1dp\@hover:hover,
.u-shadow-2dp\@hover:hover,
.u-shadow-3dp\@hover:hover,
.u-shadow-4dp\@hover:hover {
    transition: all ease .5s;
}

.u-shadow-none {
    @include shadow-none();
}

.u-shadow-1dp,
.u-shadow-1dp\@hover:hover {
    @include shadow-1dp();
}

.u-shadow-2dp,
.u-shadow-2dp\@hover:hover {
    @include shadow-2dp();
}

.u-shadow-3dp,
.u-shadow-3dp\@hover:hover {
    @include shadow-3dp();
}

.u-shadow-4dp,
.u-shadow-4dp\@hover:hover {
    @include shadow-4dp();
}
