//  ----------------------------------------------------------------------------
//
//  Nitro UI: Utility Pagination
//
//  Utility Pagination component for Nitro UI.
//
//  ----------------------------------------------------------------------------
//
//  CONTENTS
//
//      1. Dependencies
//      2. Default
//      3. Responsive
//
//  ----------------------------------------------------------------------------



//  1. Dependencies
//  ---------------------------------------------------------------------------

@import '@nitro-ui/core/src/variables';
@import '@nitro-ui/core/src/animations';
@import '@nitro-ui/core/src/mixins';



 // 2. Mixin
 // ----------------------------------------------------------------------------

.c-pagination {
    align-items: center;
    // justify-content: space-around;
    display: flex;
    list-style: none;
    margin: 16px 0 0;

    .disabled {
        .c-btn {
            background-color: transparent !important;
            border-color: $haze-300 !important;
            color: $dark-100;
        }
    }
    //
    // .c-pagination__first {
    //     margin: 0 $spacing-md;
    //     order: -1;
    //     margin-right: auto;
    // }
    //
    // .c-pagination__last {
    //     margin: 0 $spacing-md;
    //     order: 100;
    //     margin-left: auto;
    // }

    .c-pagination__previous {
        margin: 0 $spacing-md;
        > a {
            min-width: 75px;
            padding: 3px 10px;
        }
    }

    .c-pagination__next {
        margin: 0 $spacing-md;
        > a {
            min-width: 75px;
            padding: 3px 0;
        }
    }
}

.c-pagination--inline {
    display: inline-flex;
}

.c-pagination__item {
    display: flex;
    margin-left: -1px;

    > a {
        align-self: center;
        display: block;
        height: 32px;
        line-height: 32px;
        text-align: center;
        text-decoration: none !important;
        min-width: 40px;
        padding: 0;
        background-color: $white;
        border: 1px solid $haze-300;
        border-radius: 0;

        &:hover,
        &:focus {
            background-color: $blue-100;
            border: 1px solid $blue-100;
        }
    }

    > a.is--disabled{
        background-color: inherit;
        border: 0;
        cursor: disabled;
    }

    &.is--active {
        > a {
            background-color: $blue-500;
            color: $white;
            border: 1px solid $blue-500;
        }
    }
}



//  3. Default
//  ----------------------------------------------------------------------------


//  4. Variables
//  ----------------------------------------------------------------------------


//  5. Responsive
//  ----------------------------------------------------------------------------

@include media-query('mobile') {
    .c-pagination__item:not(.is--active),
    .c-pagination__first,
    .c-pagination__last {
       display: none !important;
    }

    .c-pagination__item {
        &.is--active {
            > a {
                background-color: transparent;
                width: auto;
            }
        }
    }
}
