//  ----------------------------------------------------------------------------
//
//  Nitro UI: Utility width
//
//  Utility width component for Nitro UI.
//
//  ----------------------------------------------------------------------------
//
//  CONTENTS
//
//      1. Variables
//      2. Core
//      3. Responsive - Desktop
//      4. Responsive - Portable
//      5. Responsive - Mobile-Tablet
//      6. Responsive - Mobile

//  ----------------------------------------------------------------------------
//  1. Variables
//  ----------------------------------------------------------------------------
@import '@nitro-ui/css-core/src/core';

$responsive-width-desktop           : true   !default;
$responsive-width-portable          : true   !default;
$responsive-width-mobile-tablet     : true   !default;
$responsive-width-mobile            : true   !default;

//  ----------------------------------------------------------------------------
//  2. Core
//  ----------------------------------------------------------------------------
@mixin width-setup($breakpoint: 'global') {
    $width-delimiter: \/ !default;
    $breakpoint-separator: \@ !default;

    @if $breakpoint == 'global' {
        $breakpoint-separator: '';
        $breakpoint: '';
    }

    // width--[number]#{$width-delimiter}[number]#{$breakpoint-separator}{$breakpoint}

    .u-width-1#{$breakpoint-separator}#{$breakpoint}                         { max-width: 100%; width: 100%; flex: 0 0 100%; }

    .u-width-1#{$width-delimiter}2#{$breakpoint-separator}#{$breakpoint}     { max-width: 50%; width: 50%; flex: 0 0 50%; }
    .u-width-1#{$width-delimiter}3#{$breakpoint-separator}#{$breakpoint}     { max-width: 33.333%; width: 33.333%; flex: 0 0 33.333%; }
    .u-width-2#{$width-delimiter}3#{$breakpoint-separator}#{$breakpoint}     { max-width: 66.666%; width: 66.666%; flex: 0 0 66.666%; }

    .u-width-1#{$width-delimiter}4#{$breakpoint-separator}#{$breakpoint}     { max-width: 25%; width: 25%; flex: 0 0 25%; }
    .u-width-2#{$width-delimiter}4#{$breakpoint-separator}#{$breakpoint}     { @extend .u-width-1#{$width-delimiter}2#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-3#{$width-delimiter}4#{$breakpoint-separator}#{$breakpoint}     { max-width: 75%; width: 75%; flex: 0 0 75%; }

    .u-width-1#{$width-delimiter}5#{$breakpoint-separator}#{$breakpoint}     { max-width: 20%; width: 20%; flex: 0 0 20%; }
    .u-width-2#{$width-delimiter}5#{$breakpoint-separator}#{$breakpoint}     { max-width: 40%; width: 40%; flex: 0 0 40%; }
    .u-width-3#{$width-delimiter}5#{$breakpoint-separator}#{$breakpoint}     { max-width: 60%; width: 60%; flex: 0 0 60%; }
    .u-width-4#{$width-delimiter}5#{$breakpoint-separator}#{$breakpoint}     { max-width: 80%; width: 80%; flex: 0 0 80%; }

    .u-width-1#{$width-delimiter}6#{$breakpoint-separator}#{$breakpoint}     { max-width: 16.666%; width: 16.666%; flex: 0 0 16.666%; }
    .u-width-2#{$width-delimiter}6#{$breakpoint-separator}#{$breakpoint}     { @extend .u-width-1#{$width-delimiter}3#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-3#{$width-delimiter}6#{$breakpoint-separator}#{$breakpoint}     { @extend .u-width-1#{$width-delimiter}2#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-4#{$width-delimiter}6#{$breakpoint-separator}#{$breakpoint}     { @extend .u-width-2#{$width-delimiter}3#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-5#{$width-delimiter}6#{$breakpoint-separator}#{$breakpoint}     { max-width: 83.333%; width: 83.333%; flex: 0 0 83.333%; }

    .u-width-1#{$width-delimiter}8#{$breakpoint-separator}#{$breakpoint}     { max-width: 12.5%; width: 12.5%; flex: 0 0 12.5%; }
    .u-width-2#{$width-delimiter}8#{$breakpoint-separator}#{$breakpoint}     { @extend .u-width-1#{$width-delimiter}4#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-3#{$width-delimiter}8#{$breakpoint-separator}#{$breakpoint}     { max-width: 37.5%; width: 37.5%; flex: 0 0 37.5%; }
    .u-width-4#{$width-delimiter}8#{$breakpoint-separator}#{$breakpoint}     { @extend .u-width-1#{$width-delimiter}2#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-5#{$width-delimiter}8#{$breakpoint-separator}#{$breakpoint}     { max-width: 62.5%; width: 62.5%; flex: 0 0 62.5%; }
    .u-width-6#{$width-delimiter}8#{$breakpoint-separator}#{$breakpoint}     { @extend .u-width-3#{$width-delimiter}4#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-7#{$width-delimiter}8#{$breakpoint-separator}#{$breakpoint}     { max-width: 87.5%; width: 87.5%; flex: 0 0 87.5%; }

    .u-width-1#{$width-delimiter}10#{$breakpoint-separator}#{$breakpoint}    { max-width: 10%; width: 10%; flex: 0 0 10%; }
    .u-width-2#{$width-delimiter}10#{$breakpoint-separator}#{$breakpoint}    { @extend .u-width-1#{$width-delimiter}5#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-3#{$width-delimiter}10#{$breakpoint-separator}#{$breakpoint}    { max-width: 30%; width: 30%; flex: 0 0 30%; }
    .u-width-4#{$width-delimiter}10#{$breakpoint-separator}#{$breakpoint}    { @extend .u-width-2#{$width-delimiter}5#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-5#{$width-delimiter}10#{$breakpoint-separator}#{$breakpoint}    { @extend .u-width-1#{$width-delimiter}2#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-6#{$width-delimiter}10#{$breakpoint-separator}#{$breakpoint}    { @extend .u-width-3#{$width-delimiter}5#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-7#{$width-delimiter}10#{$breakpoint-separator}#{$breakpoint}    { max-width: 70%; width: 70%; flex: 0 0 70%; }
    .u-width-8#{$width-delimiter}10#{$breakpoint-separator}#{$breakpoint}    { @extend .u-width-4#{$width-delimiter}5#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-9#{$width-delimiter}10#{$breakpoint-separator}#{$breakpoint}    { max-width: 90%; width: 90%; flex: 0 0 90%; }

    .u-width-1#{$width-delimiter}12#{$breakpoint-separator}#{$breakpoint}    { max-width: 8.333%; width: 8.333%; flex: 0 0 8.333%; }
    .u-width-2#{$width-delimiter}12#{$breakpoint-separator}#{$breakpoint}    { @extend .u-width-1#{$width-delimiter}6#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-3#{$width-delimiter}12#{$breakpoint-separator}#{$breakpoint}    { @extend .u-width-1#{$width-delimiter}4#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-4#{$width-delimiter}12#{$breakpoint-separator}#{$breakpoint}    { @extend .u-width-1#{$width-delimiter}3#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-5#{$width-delimiter}12#{$breakpoint-separator}#{$breakpoint}    { max-width: 41.666%; width: 41.666%; flex: 0 0 41.666% }
    .u-width-6#{$width-delimiter}12#{$breakpoint-separator}#{$breakpoint}    { @extend .u-width-1#{$width-delimiter}2#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-7#{$width-delimiter}12#{$breakpoint-separator}#{$breakpoint}    { max-width: 58.333%; width: 58.333%; flex: 0 0 58.333%; }
    .u-width-8#{$width-delimiter}12#{$breakpoint-separator}#{$breakpoint}    { @extend .u-width-2#{$width-delimiter}3#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-9#{$width-delimiter}12#{$breakpoint-separator}#{$breakpoint}    { @extend .u-width-3#{$width-delimiter}4#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-10#{$width-delimiter}12#{$breakpoint-separator}#{$breakpoint}   { @extend .u-width-5#{$width-delimiter}6#{$breakpoint-separator}#{$breakpoint}; }
    .u-width-11#{$width-delimiter}12#{$breakpoint-separator}#{$breakpoint}   { max-width: 91.666%; width: 91.666%; flex: 0 0 91.666%; }
}



@include width-setup();


//  ----------------------------------------------------------------------------
//  3. Responsive - Desktop
//  ----------------------------------------------------------------------------
@if $responsive {
    @if $responsive-width-desktop {
        @include media-query(desktop){
            @include width-setup('desktop');
        }
    }

//  ----------------------------------------------------------------------------
//  4. Responsive - Portable
//  ----------------------------------------------------------------------------
    @if $responsive-width-portable {
        @include media-query(portable){
            @include width-setup('portable');
        }
    }

//  ----------------------------------------------------------------------------
//  3. Responsive - Mobile Tablet
//  ----------------------------------------------------------------------------
    @if $responsive-width-mobile-tablet {
        @include media-query(mobile-tablet){
            @include width-setup('mobile-tablet');
        }
    }

//  ----------------------------------------------------------------------------
//  4. Responsive - Mobile
//  ----------------------------------------------------------------------------
    @if $responsive-width-mobile {
        @include media-query(mobile){
            @include width-setup('mobile');
        }
    }
}
