//  ----------------------------------------------------------------------------
//
//  @FORM
//
//  Component styling for form elements
//
//  ----------------------------------------------------------------------------
//
//  CONTENTS
//
//      1.  DEPENDENCIES
//      2.  VARIABLES
//      3.  MIXINS
//      4.  GENERAL
//      5.  ELEMENT - TEXTAREA
//      6.  ELEMENT - SELECT
//      7.  ELEMENT - CHECBOX / RADIO / SWITCH
//      8.  ELEMENT - INPUT WITH BUTTON
//      9.  FIELD
//      10.  STATE - DISABLED
//      11. STATE - FOCUS
//      12. STATE - ERROR
//      13. SIZE - SMALL
//      14. SIZE - LARGE
//
//  ----------------------------------------------------------------------------


//  1. DEPENDENCIES
//  ----------------------------------------------------------------------------

@import '@nitro-ui/core/src/variables';
@import '@nitro-ui/core/src/animations';
@import '@nitro-ui/core/src/mixins';
@import '@nitro-ui/component-button/src/scss/variables';



//  2. VARIABLES
//  ----------------------------------------------------------------------------

@import 'variables';




//  3. MIXINS
//  ----------------------------------------------------------------------------

@mixin input-disabled {
    background-color: $input-disabled-background !important;
    border-color: $input-disabled-border !important;
    box-shadow: none !important;
    color: $font-muted-color !important;
    cursor: default;
}

@mixin input-focus {
    border-color: $input-focus-border-color;
    box-shadow: 0 0 0 2px rgba($input-focus-border-color,.2);
    outline: none !important;
}

@mixin input-error {
    border-color: $input-error-border-color;
    box-shadow: 0 0 0 2px rgba($input-error-border-color,.2);
}




//  4. GENERAL
//  ----------------------------------------------------------------------------

.c-input {
    -webkit-appearance: none;
    appearance: none;
    background-color: $input-background;
    border: $input-border-width solid $input-border-color;
    border-radius: $input-radius;
    color: $input-font-color;
    font-family: $input-font-family;
    font-size: $input-font-size;
    height: $input-height;
    line-height: $input-font-height;
    padding: $input-padding-vertical $input-padding-horizontal;
    transition: border-color ease-in-out $input-transition-time;
    vertical-align: top;
    width: 100%;

    // Placeholder
    &::-webkit-input-placeholder {
        color: $input-placholder-font-color;
        font-weight: 400;
    }
    &::-moz-placeholder {
        color: $input-placholder-font-color;
        font-weight: 400;
    }
    &:-ms-input-placeholder {
        color: $input-placholder-font-color;
        font-weight: 400;
    }
    &:-moz-placeholder {
        color: $input-placholder-font-color;
        font-weight: 400;
    }

    // Hover
    &:hover {
        border-color: $input-hover-border-color;
    }
}




//  5. ELEMENT - TEXTAREA
//  ----------------------------------------------------------------------------

textarea.c-input {
    height: auto;
    resize: vertical;

    &[rows="1"] {
        height: $input-height;
    }
}




//  6. ELEMENT - SELECT
//  ----------------------------------------------------------------------------

select.c-input {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyMHB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjAgMCAyMCAxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5TaGFwZTwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPGcgaWQ9Imljb25zOC1leHBhbmRfYXJyb3ciIGZpbGwtcnVsZT0ibm9uemVybyIgZmlsbD0iIzhBOUJBRCI+ICAgICAgICAgICAgPHBvbHlnb24gaWQ9IlNoYXBlIiBwb2ludHM9IjEuNzE4NzUgMC43ODEyNSAwLjI4MTI1IDIuMjE4NzUgOS4yODEyNSAxMS4yMTg3NSAxMCAxMS45MDYyNSAxMC43MTg3NSAxMS4yMTg3NSAxOS43MTg3NSAyLjIxODc1IDE4LjI4MTI1IDAuNzgxMjUgMTAgOS4wNjI1Ij48L3BvbHlnb24+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=');
    background-position: right 12px top 50%;
    background-repeat: no-repeat;
    background-size: 12px;
    padding-right: 32px;
}




//  7. ELEMENT - CHECBOX / RADIO / SWITCH
//  ----------------------------------------------------------------------------

.c-check,
.c-switch {
    display: block;
    margin: ($input-height - $input-font-height)/2 0;
    position: relative;
    min-height: $font-base-height;

    > label {
        display: block;
        margin: 0;
        padding-left: $input-check-size + $spacing-sm;
        position: relative;
        user-select: none;
        z-index: 2;
        color: $font-base-color;
        top: 0;
        left: 0;
    }

    input {
        -webkit-appearance: none;
        border: 1px solid $input-border-color;
        display: inline-block;
        height: $input-check-size;
        left: 0;
        outline: none !important;
        position: absolute;
        vertical-align: top;
        z-index: 1;
        top: 2px;
    }
}

.c-check {
    input {
        background-color: $white;
        border-radius: $input-radius;
        color: transparent;
        text-align: center;
        width: $input-check-size;

        &:before {
            display: none;
        }
    }

    > label{
        color: $font-base-color;
    }

    &:hover > input {
        border-color: $input-hover-border-color;
    }

    // Checkbox
    input[type="checkbox"] {
        &::before {
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            content: '';
            width: 6px;
            height: 11px;
            margin: auto;
            transform: rotate(40deg);
        }

        &:checked {
            background: $input-focus-border-color;
            border-color: $input-focus-border-color;

            &::before {
                display: block;
            }
        }
    }

    // Radio
    input[type="radio"] {
        border-radius: 100%;

        &:checked {
            border-width: 5px;
            border-color: $input-focus-border-color;
        }
    }
}

.c-check--static {
    margin: 0;
    min-height: 0;
    line-height: 1;

    > input {
        position: static;
    }
}

.c-check-inline {
    &::after {
        content: '';
        display: table;
        clear: both;
    }

    .c-check {
        float: left;
        margin-right: $spacing-xl;
    }
}


.c-switch {
    > label {
        padding-left: $input-switch-width + $spacing-md;

        &:before {
            background-color: $haze-300;
            border: 1px solid $input-border-color;
            border-radius: 100px;
            content: '';
            height: $input-switch-height;
            position: absolute;
            width: $input-switch-width;
            top: 2px;
            left: 0;
        }

        &:after {
            background-color: $white;
            border-radius: 100px;
            content: '';
            display: block;
            height: $input-switch-circle-size;
            position: absolute;
            left: 1px;
            top: 3px;
            width: $input-switch-circle-size;
            transition: all ease $input-transition-time;
        }
    }

    > input[type="checkbox"]{
        opacity: 0;
        position: absolute;
        z-index: -1;

        &:checked ~ {
            label {
                &:before {
                    background-color: $blue-400;
                    border-color: $input-focus-border-color;
                }

                &:after {
                    left: ($input-switch-width / 2) - 1px
                }
            }
        }

        &:disabled ~ {
            label {
                &:before {
                    background-color: $haze-200;
                    border-color: transparent;
                }
            }
        }
    }
}

.c-switch--right {
    > label {
        width: 100%;
        position: relative;
        padding-left: 0;
        padding-right: $input-switch-width + $spacing-md;

        &:before {
            right: 0;
            left: auto;
        }

        &:after {
            right: ($input-switch-width / 2) - 1px;
            left: auto;

        }
    }

    > input[type="checkbox"]:checked ~ {
        label {
            &:after {
                right: 1px;
                left: auto;
            }
        }
    }
}

//  8. ELEMENT - INPUT WITH BUTTON
//  ----------------------------------------------------------------------------

.c-input-btn {
    padding: 3px 0;
    border: 1px solid $input-border-color;
    border-radius: 3px;
    background: $white;
    display: flex;
    transition: border-color ease-in-out $input-transition-time;
    white-space: nowrap;

    &:focus,
    &:hover{
       border-color: $input-focus-border-color;
    }

    .c-input {
       background-color: transparent !important;
       border: transparent !important;
       box-shadow: none !important;
       flex: 1 1 auto;
       height: $input-sm-height;
       padding: $input-sm-padding-vertical $input-sm-padding-horizontal;
       white-space: normal;
       // width: auto; //to fix IE
    }

    .c-btn {
       display: block !important; // Ikram: override (display:inline-flex) from origin
       font-size: $button-sm-font-size;
       padding: ($button-sm-padding-vertical) ($button-sm-padding-horizontal);
       margin: 0 3px;
    }


    &.is--disabled {
       background-color: $input-disabled-background !important;
       border-color: $input-disabled-border !important;
       cursor: default;
       pointer-events: none;

       .c-input {
           color: $font-muted-color !important;
       }

       .c-btn {
           opacity: $button-secondary-disable-opacity;
       }
    }
}


//  9. FIELD
//  ----------------------------------------------------------------------------
//  Grouped form elements with label and message

.c-field {
    margin-bottom: $spacing-lg;

    > label{
        font-size: $font-7-size;
        line-height: $font-7-height;
    }
}

.c-field__message {
    color: $font-muted-color;
    font-size: $font-7-size;
    margin-top: $spacing-xxs;
}



//  10. STATE - DISABLED
//  ----------------------------------------------------------------------------

.c-input.is--disabled,
.c-input:disabled,
.c-input[readonly],
.c-check > input:disabled,
.c-check > input:disabled:checked {
    @include input-disabled;
}

.c-check > input:disabled:checked::before {
    border-color: $input-disabled-border;
}

.c-input[readonly],
.c-check > input:disabled ~ label {
    cursor: default;
}




//  11. STATE - FOCUS
//  ----------------------------------------------------------------------------

.c-input.is--focus,
.c-input:not(disabled):focus,
.c-input:not(readonly):focus,
.c-check  input[type="checkbox"]:focus,
.c-check  input[type="radio"]:focus,
.c-switch input[type="checkbox"]:focus {
    @include input-focus;
}




//  12. STATE - ERROR
//  ----------------------------------------------------------------------------

.c-input.is--error,
.c-field--error .c-input,
.c-field--error .c-input-btn {
    @include input-error;
}

.c-input.is--error ~ .c-field__message,
.c-field--error .c-field__message {
    color: $input-error-font-color;
}




//  13. SIZE - SMALL
//  ----------------------------------------------------------------------------

.c-input--sm {
    height: $input-sm-height;
    padding: $input-sm-padding-vertical $input-sm-padding-horizontal;
}




//  14. SIZE - LARGE
//  ----------------------------------------------------------------------------

.c-input--lg {
    font-size: $input-lg-font-size + 4;
    line-height: $input-lg-font-height;
    height: $input-lg-height;
    padding: $input-lg-padding-vertical $input-lg-padding-horizontal;
}
