//  ----------------------------------------------------------------------------
//
//  @COMPONENT - Avatar
//
//  Component styling for avatars.
//
//  ----------------------------------------------------------------------------
//
//  CONTENTS
//
//      1.  Dependencies
//      2.  Variables
//      3.  Core
//
//  ----------------------------------------------------------------------------


//  1. Dependencies
//  ----------------------------------------------------------------------------

@import '@nitro-ui/core/src/variables';
@import '@nitro-ui/core/src/mixins';



//  2. Variables
//  ----------------------------------------------------------------------------

$avatar-background-color        : $haze-300;



//  3. Core
//  ----------------------------------------------------------------------------

.c-avatar {
    background-color: $avatar-background-color;
    border-radius: 100%;
    display: block;
    height: 40px;
    position: relative;
    text-align: center;
    width: 40px;


    &::before {
        display: block;
        font-weight: $font-weight-medium;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
    }

    &:not(.icon)::before {
        content: attr(data-initial);
    }

    > img {
        border-radius: 100%;
        display: block;
        height: 100%;
        object-fit: cover;
        width: 100%;
        z-index: 2;
    }
}


//  4. Modifier - Square
//  ----------------------------------------------------------------------------

.c-avatar--square {
    border-radius: $base-radius;

    > img {
        border-radius: $base-radius;
        z-index: 2;
    }
}


//  5. Modifier - Size
//  ----------------------------------------------------------------------------


$avatar-sizes: 24px, 40px, 64px, 128px !default;

@mixin avatar-setup($breakpoint: 'global') {

    $breakpoint-separator: \@ !default;

    @if $breakpoint == 'global' {
        $breakpoint-separator: '';
        $breakpoint: '';
    }

    @each $size in $avatar-sizes {
        .c-avatar--#{$size}#{$breakpoint-separator}#{$breakpoint} {
            height: $size;
            width: $size;
            flex: 0 0 $size;

            &::before {
                font-size: $size/2;
            }
        }
    }
}

@include avatar-setup();

@if $responsive {
    @include media-query('mobile') {
        @include avatar-setup('mobile');
    }
}
